<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Admin/base::Layout(~{::section})">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<section>
    <ul class="nav nav-tabs mb-3" id="myTab0" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                    data-mdb-tab-init
                    class="nav-link active"
                    id="home-tab0"
                    data-mdb-target="#home0"
                    type="button"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
            >
                Customer
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    data-mdb-tab-init
                    class="nav-link"
                    id="profile-tab0"
                    data-mdb-target="#profile0"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
            >
                Purchase Order
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                    data-mdb-tab-init
                    class="nav-link"
                    id="contact-tab0"
                    data-mdb-target="#contact0"
                    type="button"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
            >
                Shiping Details
            </button>
        </li>
    </ul>
    <div th:if="${message}" th:classappend="${'alert-'+message.getType()}" class="alert" role="alert">
        <strong th:text="${message.getContent()}">Success!</strong>
        <label class="closebtn" onclick="this.parentElement.style.display='none';">&times</label>
    </div>
    <div class="tab-content" id="myTabContent0">
        <div class="tab-pane fade show active" id="home0" role="tabpanel" aria-labelledby="home-tab0">
            <div class="container">
                <form th:action="@{'/admin/add-customer'}" th:object="${customer}" method="post">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" name="customerName" id="customerName" class="form-control"/>
                        <label class="form-label">Name</label>
                    </div>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="tel" name="customerMobileNumber" id="customerNumber" class="form-control"/>
                                <label class="form-label" for="customerNumber">Mobile Number</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" name="customerCity" id="customerCity" class="form-control"/>
                                <label class="form-label" for="customerCity">City</label>
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" name="customerEmail" id="customerEmail" class="form-control"/>
                        <label class="form-label" for="customerEmail">Email address</label>
                    </div>
                    <!-- Submit button -->
                    <div class="text-center">
                        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="profile0" role="tabpanel" aria-labelledby="profile-tab0">
            <div class="container">
                <form th:object="${purchasedOrder}" th:action="@{'/admin/add-purchased-order'}" method="post">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="productName" name="productName" class="form-control"/>
                        <label class="form-label">Product Name</label>
                    </div>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="number" id="quantity" name="quantity" class="form-control"/>
                                <label class="form-label" for="quantity">Quantity</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="number" id="pricing" name="price" class="form-control"/>
                                <label class="form-label" for="pricing">Pricing</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="number" id="MRP" name="MRP" class="form-control"/>
                                <label class="form-label" for="MRP">MRP</label>
                            </div>
                        </div>
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" id="customerId" name="customerId" class="form-control"/>
                        <label class="form-label" for="customerId">Customer I'd</label>
                    </div>
                    <!-- Submit button -->
                    <div class="text-center">
                        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="contact0" role="tabpanel" aria-labelledby="contact-tab0">
            <div class="container">
                <form th:action="@{/admin/add-shipment}" th:object="${shipment}" method="post">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" name="customerId" class="form-control"/>
                        <label class="form-label">Customer I'd</label>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="number" name="orderId" class="form-control"/>
                        <label class="form-label">Purchase Order I'd</label>
                    </div>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="shipmentAddress" name="shipmentAddress" class="form-control"/>
                                <label class="form-label" for="shipmentAddress">Address</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="shipmentCity" name="shipmentCity" class="form-control"/>
                                <label class="form-label" for="shipmentCity">City</label>
                            </div>
                        </div>
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <input type="tel" id="shipmentPincode" name="shipmentPincode" class="form-control"/>
                                <label class="form-label" for="shipmentPincode">Pin Code</label>
                            </div>
                        </div>
                    </div>
                    <!-- Submit button -->
                    <div class="text-center">
                        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>